﻿@{
    ViewBag.Title = "Create";
}

<h2>Create Post</h2>

@using (Html.BeginForm())
{
    <p>
        Subject
        <br/>
        @Html.TextBox("Subject")
    </p>
    <p>Content
        <br/>
        @Html.TextArea("Text")
    </p>
    <p>
        <input type="submit" value="Create"/>
    </p>
}
