﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="document">
        <div id="header">
            <h1>My Blog</h1>
        </div>
        <div id="nav">
            @Html.ActionLink("Create Post", "Create")
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
